[submodule "/home/adrianisuru/.config/nvim/bundle/auto-pairs"]
	path = /home/adrianisuru/.config/nvim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "/home/adrianisuru/.config/nvim/bundle/vim-airline"]
	path = /home/adrianisuru/.config/nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "/home/adrianisuru/.config/nvim/bundle/nerdtree"]
	path = /home/adrianisuru/.config/nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/adrianisuru/.config/nvim/bundle/vim-one"]
	path = /home/adrianisuru/.config/nvim/bundle/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "/home/adrianisuru/.config/nvim/bundle/rust.vim"]
	path = /home/adrianisuru/.config/nvim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "/home/adrianisuru/.config/nvim/bundle/syntastic"]
	path = /home/adrianisuru/.config/nvim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
